 * {
        margin: 0px;
        padding: 0px;
    }

    .form {
        font-family: Arial, sans-serif;
        color: #333;

        margin-bottom: 40px;

    }

    .container {
        width: 300px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    .forgotten-password {
        font-size: 12px;
        color: #0066cc;
        margin-top: 0px;
        display: flex;
        justify-content: flex-end;

    }

    .login {
        width: 100%;
        background-color: rgb(42, 42, 210);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .para {
        font-size: 12px;
        color: #666;
        text-align: center;
        margin-top: 20px;
    }

    .icon-container {

        font-size: 24px;
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
    }

    .color {
        color: black;
        text-decoration: none;
    }

    .icon {
        background-color: #ccc;
        padding: 10px;

        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }